*, *::before, *::after {
  box-sizing: border-box;
  touch-action: manipulation;
}

* {
  margin: 0;
  font-family: 'Roboto', monospace;
  font-size: 12px;
  text-transform: uppercase;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.info {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.info p {
  color: #999999;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .info span {
    visibility: hidden;
  }
}